footer {
    background-color: black;
    color: aliceblue;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: aliceblue;
}